 <!-- Main Footer -->
<footer class="main-footer">
  <!-- To the right -->
  <div class="float-right d-none d-sm-inline">
    QUEUE SYSTEM V3
  </div>
  <!-- Default to the left -->
  <strong>Copyright &copy; <%=Date.current.year%> <a href="https://goo.gl/maps/kND26Sagi9fgBjAcA">ITLIFE Corp</a>.</strong> All rights reserved.
</footer>
